* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main-container {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nav-menu {
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}
.h2-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}
.link-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: x-small;
}
.sub-container {
  display: flex;
  flex-direction: column;
  width: 20vw;
  padding: 16px;
  height: auto;
  border: 1px solid black;
}
h1 {
  font-size: 20px;
  margin-left: 5px;
}
.container-texto {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.texto {
  background-color: snow;
  padding: 6px;
  width: 98%;
  margin: 6px;
  border: 1px solid black;
}
.div-db {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.textarea {
  border: 1px solid black;
  background-color: snow;
  padding: 6px;
  width: 98%;
  margin: 6px;
}
.div-btnadd {
  margin: 0px 0px 6px 0px;
}

.btn {
  border: none;
  margin: 2px;
  width: 70px;
  margin: auto;
  padding: 10px;
  background-color: rgb(0, 175, 255);
  color: #fff;
  border-radius: 2px;
  align-items: center;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(0, 120, 255);
  transition: 0.1s linear;
}
.div-task {
  display: flex;
  justify-items: center;
  justify-content: center;
  margin: 5px;
}
.button-task {
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: royalblue;
}
.button-task:hover {
  background-color: rgb(65, 60, 225);
}
.in-tasks {
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  margin: 6px;
}
.junto {
  display: flex;
  justify-content: center;
  align-items: center;
}
.radio {
  cursor: pointer;
  display: flex;
  margin: auto;
  margin-left: 5px;
  justify-content: center;
  align-items: justifys;
}

.p {
  font-size: 15px;
  margin: auto;
  padding: 6px;
  justify-content: center;
  text-align: justify;
}
.p2 {
  font-size: 11px;
  margin: auto;
  padding: 6px;
  justify-content: center;
  text-align: center;
}
.btndiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete2 {
  display: flex;
  margin: auto;
  width: 25px;
  height: 25px;
  align-items: center;
  border-radius: 5%;
  border: none;
  margin-right: 5px;
  color: red;
  cursor: pointer;
}
.editar {
  display: flex;
  margin: auto;
  width: 25px;
  margin-right: 5px;
  height: 25px;
  align-items: center;
  border-radius: 5%;
  border: none;
  color: rgb(130, 130, 255);
  cursor: pointer;
}
.delete2:hover {
  background-color: rgb(140, 140, 140);
}
.editar:hover {
  background-color: rgb(140, 140, 140);
}
svg {
  display: flex;
  justify-content: center;
  margin: auto;
}
.delete {
  background-color: rgb(255, 71, 71);
  display: flex;
  float: right;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 3px;
  color: snow;
  width: 70px;
  justify-content: center;
  cursor: pointer;
}
.delete:hover {
  background-color: rgb(255, 30, 30);
}
.notarea {
  margin: auto;
  height: 100px;
}
.tasks {
  display: flex;
  justify-content: flex-end;
  float: right;
  margin-bottom: auto;
}
.mapeo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.error {
  color: red;
  font-style: italic;
  font-size: 12px;
}
.link-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.link-div h1 {
  margin: auto;
  padding: 10px;
}
.link-div p {
  padding: 20px;
  margin: 0px 25% 0px 25%;
}
@media (max-width: 40px) {
  .textarea {
    width: 70%;
  }
}
